﻿<!-- blog start here -->
<div id="blog">
    <div class="container">
        <div class="row">
            <!-- latest-blog start here -->
            <div class="latest-blog">
                <h1>Latest Blog</h1>
                <div class="border"></div>
                <div class="border1"></div>
            </div>
            <!-- latest-blog end here -->

            <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="item in vm.items">
                <!-- box start here -->
                <div class="box">
                    <a href="blog.html">
                        <img ng-src="{{item.imageUrl}}?RenditionID=5" alt="b1" title="b1" class="img-responsive" />
                    </a>
                    <div class="matter">
                        <h1>{{item.Title}}</h1>
                        <p>{{item.jpSummary}}...</p>
                        <a href="blog.html">Read more	<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- box end here -->
            </div>

        </div>
    </div>
</div>
<!-- blog end here -->