﻿<!-- browse start here -->
<div class="browse">
    <div class="container">
        <div class="row">
            <!-- featured-jobs start here -->
            <div class="browse-jobs">
                <h1>BROWSE JOBS</h1>
                <div class="border"></div>
                <div class="border1"></div>
            </div>
            <!-- featured-jobs end here -->

            <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="item in vm.items">
                <div class="matter">
                    <a href="jobs.html">
                        <div class="boxbor">
                            <i class="fa fa-{{item.Icon}}" aria-hidden="true"></i>
                            <span>{{item.Title}}</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- browse end here -->